<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
<div class="container">
<h2>Generate Player Grid</h2>
<p>Generates a player grid based on size</p>
<h2>Launching Missiles</h2>
<p>Player can click grid to launch a missile to see if that square has a ship <br> For the sake of the current state the ships are currently displayed. However if clicked will be marked red, ocean squares will be grey and once a ship is sunk a notification will appear</p>

<h2>Checking if a ship is sunk</h2>
<p>Ship object that has an id, name, maxhits, and hits. Once the ship has been hit it will increment the hits number. <br> If all the ships squares have been hit then a notification will appear. </p>

<h2>Get information from user</h2>
<p>Currently the program will only get info but is not using it</p>
</div>
</body>
</html>