<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship</title>
    <link rel="icon" type="image/png" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <script src="../js/controller.js"></script>
    <script src="../js/model.js"></script>

</head>
<body onload="getGameData()">
<audio id="explosion">
    <source src="../media/explosion.mp3" type="audio/mpeg">
</audio>
<audio id="winner">
    <source src="../media/submarine.mp3" type="audio/mpeg">
</audio>
<header>
<nav>
    <span>BattleShip</span>
    <a href="../index.html">Home</a>
    <a href="../views/json-data.html">Json Data</a>
</nav>
</header>

<div class="game-container">
        <div>
            <h2 id="turn">Your Turn</h2>
            <h3 id="computerName">Computer's Grid</h3>
            <div id="computer-grid"></div>
            <h3 id="playerName"></h3>
            <div id="user-grid"></div>
        </div>
</div>

</body>
</html>