<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship</title>
    <link rel="icon" type="image/png" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <script src="../js/controller.js"></script>
    <script src="../js/model.js"></script>

</head>
<body onload="createTable(10,10)" >
<div class="container">
    <h1>
        Game play example
    </h1>
    <p>To go back to the Game Description page click <a href="../index.html">here.</a></p>
    <h2>Table Key</h2>
    <ul>
        <li>Green = Ship</li>
        <li>Red = Hit ship</li>
        <li>Blue = Ocean</li>
        <li>Grey = Missed</li>
    </ul>

    <div id="battleship-container"></div>
</div>

</body>
</html>