<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta charset="UTF-8">
        <title>Battleship</title>
        <link rel="icon" type="image/png" href="../images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <script src="../js/json-data-controller.js"></script>
    </head>
</head>
<body onload="getGameData();">
<header>
    <nav>
        <span>BattleShip</span>
        <a href="../index.html">Welcome</a>
        <a href="../views/game.html">Game</a>
        <a href="../views/json-data.html">Json Data</a>
    </nav>
</header>

   <pre id="json">

   </pre>

</body>
</html>